@media (max-width:1200px) {
  //gallery
  .item-overlay
  {
  h3{
  font-size: 20px;
  }
}
.event{
  margin-bottom: 30px;
}
  //home
  .block-title {
    border-bottom: 1px solid #CBCBCB;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
  }
  .slider {
    margin-top: 83px;
  }
  .fact-title .desc .lead {
    font-size: 17px;
  }
  .fact-title .num .fact-number {
    font-size: 65px;
  }
  .project-info {
    margin-top: 1px;
  }
  .project-info h3 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .project-info-t {
    padding: 0;
  }
  .project-info-f {
    padding-top: 10px;
    margin-top: 10px;
  }
  li.brand {
    margin: 7px 20px;
    height: 55px;
  }
  .slides {
    text-align: center;
  }
  .sponser {
    .block-title {
      text-align: center;
      padding-bottom: 22px;
      margin-bottom: 20px;
    }
  }
  //activity
  .activity-info h4 {
    margin-top: -7px;
  }
  .pos-middle {
    width: 100%;
    padding: 0 50px;
  }
  //about

}
@media (max-width: $screen-sm-max) {
  // .section-other { height: 10px; }

  .item-overlay
  {
  h3{
  font-size: 15px;
  }
  span{
    line-height: 12px;
display: block;
    font-size: 11px;
  }
}
  .rti-banner img {
    margin-top: 125px;
}
.mt83{
   .rti-banner img {
    margin-top: 125px;
}
}
  .fact-title .desc .lead {
    font-size: 14px;
  }
  .fact-title .num .fact-number {
    font-size: 46px;
  }
  .slider {
    margin-top: 108px;
  }
  .block-title {
    font-size: 28px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  }
  .section_i {
    min-height: 615px;
}
  .project-info-f {
    padding-left: 22px;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-top: 5px;
  }
  .project-info-t {
    font-size: 12px;
    overflow: hidden;
    padding: 0;
  }
  .project-info {
    text-align: left;
  }
  .view-all {
    padding-top: 20px;
  }
  li.brand {
    margin: 4px 11px;
    //  margin: 7px 20px;
    height: 45px;
  }
  .btn {
    padding: 4px 12px;
    font-size: 12px;
  }
  .project-info h3 {
    font-size: 12px;
    padding-bottom: 5px;
    margin-bottom: 3px;
    margin-top: 6px;
  }
  .pt70 {
    padding-top: 0;
  }
  .event p {
    font-size: 12px;
    overflow: hidden;
    line-height: 18px;
  }
  .map {
    margin-bottom: 10px;
  }
  iframe {
    height: 262px;
  }
  //activity
  .activity-info h4 {
    margin-top: 18px;
  }
  //header
  .navbar-header {
    float: none;
    padding-top: 10px;
  }
  .logo {
    text-align: center;
  }
  img {}
  .logo img {
    margin: 0 auto;
    height: 80px;
  }
  .nav-top {
    margin-top: -12px;
    padding-top: 10px;
  padding-bottom: 10px;
  }
  //about
  .abt {
    h1.block-title {
      text-align: center;
      padding-bottom: 12px;
      margin-bottom: 25px;
    }
  }
}
@media (max-width: $screen-xs-max) {
  .section_i {
    min-height: 530px;
  }
  .item-overlay
  {
  h3{
    font-size: 24px;
  }
  span{
    font-size: 15px;
  }
}
  .pl30{
    padding-left: 20px;
  }
  .rti-banner img {
    margin-top: 62px;
  }
  .mt83 {
    .rti-banner img {
    margin-top: -21px;
}
}
  //donate
  .donate-form {
    padding-left: 10px;
  }
  .note {
    padding-left: 10px;
  }
  .mar p {
    padding-left: 10px;
  }
  .sponser {
    .block-title {
      text-align: center;
      margin-left: 80px;
      margin-right: 80px;
      padding-bottom: 10px;
      margin-bottom: 12px;
    }
  }
   .event p{
    font-size: 12px;
  }
  .slider {
    margin-top: 62px;
  }
  .icon {
    margin-top: 35px;
  }
  .block-title {
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 18px;
  }
  .pt70 {
    padding-top: 2px;
  }
  .sec-mar {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  li.brand {
    margin: 3px 0 2px 8px;
    height: 35px;
  }
  ///////////////////////////
  .project-info {
    padding: 0 20px;
    text-align: center;
  }
  .project-info h3 {
    text-align: center;
    font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 12px;
  }
  .mar_img {
    margin: 0 auto;
  }
  .project-info-t {
    padding: 8px;
      font-size: 15px;
  }
  .project-info-f {
    font-size: 16px;
    font-weight: 700;
    border-top: 1px solid #CBCBCB;
    padding-left: 22px;
    padding-top: 10px;
padding-bottom: 8px;
margin-top: 10px;

  }
  .btn {
    padding: 6px 12px;
    font-size: 16px;
  }
  .contact {
    text-align: center;
    margin-bottom: 24px;
    p{
      margin:0 0 7px;
    }
    .block-title {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  /////////////////////////////
  //header
  .navbar-toggle {
    margin-top: 34px;
  }
  .logo img {
    margin: inherit;
  }
  //about
  .mt50 {
    padding: 0 10px;
  }
  //footer
  .copyright {
    padding: 0;
    text-align: center;
    float: none !important;
  }
}
@media (max-width: 480px) {
// .mb15{  border: 1px solid red;
//   width: 135px;
//   position: absolute;
//   top: 50%;
//   right: auto;
//   bottom: auto;
//   left: 50%;
//   transform: translate(-50%,0);
//   height: 170px;}
.item-overlay
{
h3{
  margin:5px 0 10px 0;
  font-size: 12px;
}
span{
  line-height: 11px;
display: block;
font-size: 11px;
}
}
  //activity
  .activity-info p {
    font-size: 14px;
  }
  //home
  .fs26{
    font-size: 26px;
  }
  li.brand {
    margin: 15px 68px;
  }
  .sponser {
    .block-title {
      text-align: center;
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  .fact-box {
    display: block;
  }
  .fact-title .desc .lead {
    font-size: 12px;
  }
  .fact-title .num .fact-number {
    font-size: 36px;
  }
  .event p {
    font-size: 12px;
    overflow: hidden;
    line-height: 20px;

  }
  .project-info-f {
    font-size: 16px;
    font-weight: 700;
    border-top: 1px solid #CBCBCB;
    padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 16px;
    position: relative;
  }
  .btn {
    padding: 4px 12px;
    font-size: 16px;
  }
  .project-info h3 {
    text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
  margin-bottom: 12px;
  margin-top: 22px;
  }
  .project-info-t {
    padding: 0;
    font-size: 14px;
  }
.map{
  margin-bottom: 24px;
}
  //  about
  .block-title {
    font-size: 26px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
  }
  .pt70 {
    // padding-top: 0;
  }
  .abt {
    p {
      font-size: 14px;
    }
  }
  .mt50 {
    padding: 0 6px;
  }
}
