@media (max-width:1200px) {

//activity
.activity-info h4{
  margin-top: -7px;
}
}
@media (max-width: $screen-sm-max) {
  //home
  .pt100{
    padding-top: 70px;
  }
  img .mar1{
    margin-top: 22px;
  }
  .fact-title .desc .lead {
      font-size: 14px;
  }
  .fact-title .num .fact-number{
      font-size: 46px;
  }
  .slider {
    margin-top: 125px;
  }
  //activity
  .activity-info h4{
    margin-top: 18px;
  }
  //header
  .navbar-header {
  float: none;
  padding-top: 10px;
  }
  .logo {
  text-align: center;
  }
  img{}
  .logo img {
  margin: 0 auto;
  }
  .nav-top {
  padding-top: 12px;
  padding-bottom: 20px;
  }
  //about
.abt{
  h1.block-title {
      text-align: center;
      padding-bottom: 12px;
      margin-bottom: 25px;
    }
}
}
@media (max-width: $screen-xs-max) {

   //header
   .navbar-toggle {
        margin-top: 34px;
    }
    .logo img {
      margin: inherit;
    }
   //about
  .mt50 {
    padding: 0px 10px;
  }
  //footer
  .copyright {
    padding: 0px 0;
    text-align: center;
    float: none !important;
  }
}
@media (max-width: 480px) {
    //activity
    .activity-info p {
        font-size: 14px;
    }
    //about
  .block-title {
      font-size: 26px;
      padding-bottom: 12px;
      margin-bottom: 25px;
    }
    .abt{
      p{
      font-size: 14px;
    }
  }
  .mt50 {
    padding: 0px 6px;
  }
}
