@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

/* Bootstrap Variables Goes Here */

$brand-primary: #e31e24 !default;
$brand-success: #F6F6F6 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* mixing*/
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin x-appearance ($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
  position: relative;
}
#Container .mix{
    display: none;
}
body {
  padding-top: 70px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
.flexslider {
  border: none;
  overflow: hidden;
  .flex-direction-nav {
    a {
      height: 45px;
      color: $brand-primary;
      text-shadow: none;
      &:before {
        font-size: 40px;
        color: $brand-primary;
        text-shadow: none;
        font-family: 'FontAwesome';
      }
    }
    .flex-prev {
      left: 20px !important;
      opacity: 1 !important;
      &:before {
        content: '\f053';
      }
    }
    .flex-next {
      right: 20px !important;
      opacity: 1 !important;
      &:before {
        content: '\f054';
      }
    }
  }
}
/* Start writing sass here */
