<section class="mt83">
    <!-- <div class="rti-banner">
    <img src="img/activity.jpg" class="img-responsive">
  </div> -->
    <section>
        <div class="container">
            <div class="row">
                <div class="abt mt50">
                    <h1 class="block-title">About - Us</h1>
                    <p>The power of youth is the power of tomorrow. With a view to have a better tomorrow and, with a view to lay a foundation of various activities for the larger good of the society, the youth organized themselves into what is today better
                        known as Tarun Mitra Mandal (TMM).</p>
                    <p>The organization was established on Gandhi Jayanti in 1968, and registered as a charitable trust (Reg. No. E-6185 - Mumbai). The journey began as a helping hand to spread education and excelled through numerous fields of social activism
                        to mitigate hardships of the down trodden and enhance the scope of knowledge of individuals.</p>
                    <p>The organization’s Blood Donation Movement has brought recognition at the State and National level and the Eye Donation Movement at the International Level.</p>
                    <p>Donation to the organization under 80 G of Indian Income Tax Act is exempted. The organization has been granted approval by the Government of India, under FCRA, to accept foreign donations.

                    </p>
                    <p>The power of youth is the power of tomorrow. With a view to have a better tomorrow and, with a view to lay a foundation of various activities for the larger good of the society, the youth organized themselves into what is today better
                        known as Tarun Mitra Mandal (TMM).</p>
                    <p>The organization was established on Gandhi Jayanti in 1968, and registered as a charitable trust (Reg. No. E-6185 - Mumbai). The journey began as a helping hand to spread education and excelled through numerous fields of social activism
                        to mitigate hardships of the down trodden and enhance the scope of knowledge of individuals.</p>
                    <p>The organization’s Blood Donation Movement has brought recognition at the State and National level and the Eye Donation Movement at the International Level.</p>
                    <p>Donation to the organization under 80 G of Indian Income Tax Act is exempted. The organization has been granted approval by the Government of India, under FCRA, to accept foreign donations.

                    </p>
                </div>
            </div>
        </div>
    </section>
</section>
