<section>
  <div class="rti-banner">
    <img src="img/activity.jpg" class="img-responsive">
  </div>
  <section class="mt50">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="block-title">Activity</h1>
          </div>
        </div>
      </div>
  </section>
<section class="sect-min">
  <div class="container">
    <!-- <div class="row">
      <div class="col-md-6">
        <div class="navigate custom-li">
          <ul>
            <li>
              <a href="#/home">Home</a>
            </li>
            <li>
              <a href="" class="active">
                Activity Name
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-6">
        <div class="activity">
          <div class="slider" style="margin-top:0px">
            <flex-slider flex-slide="s in mySlides">
              <li>
                <img ng-src="{{s}}" class="img-responsive">
              </li>
            </flex-slider>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="activity-info">
          <h4>Help girls to get water</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
    </div>
  </div>
  </section>
</section>
