<section class="mt83">
    <!--<div class="rti-banner">
        <img src="img/activity.jpg" class="img-responsive">
    </div>-->
    <section class="mt50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="block-title">Activity</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="sect-min">
        <div class="container">
            <!-- <div class="row">
      <div class="col-md-6">
        <div class="navigate custom-li">
          <ul>
            <li>
              <a href="#/home">Home</a>
            </li>
            <li>
              <a href="" class="active">
                Activity Name
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
            <div class="row block-title2">
                <div class="col-md-12">
                    <div class="activity-info">
                        <img src="img/makerslogo.png" class="img-responsive mar-left-15 mlogo display-inline" alt="">&nbsp;&nbsp;
                        <h4 >Story Of Makers</h4>
                        <br>
                        
                        <p>Registration is free</p>
                        <p class="display-inline"><strong>Register online for the event on:</strong></p>
                        <p class="display-inline"><a href="http://storyofmakers.com/" target="_blank">http://storyofmakers.com/</a></p>
                        <img src="img/makers.jpeg" class="img-responsive text-center maker" alt="">
                        <p>Tarun Mitra Mandal is organizing a Science & Technology Expo with a Vision to bring Makers, Artists
                            and Innovators on a common platform and inspire to come up with solutions and unique products
                            to solve real world problems and ispire others to create. We strive to create a unique opportunity
                            to Network & Connect with Fellow Enthusiasts, Start-Ups & Renowned Industrailists.</p>
                        <p class="powered">Initiative by Tarun Mitra Mandal<br>Powered by Navneet Education</p>
                        <img src="img/navneet.png" class="img-responsive" alt="">
                        <p>Knowledge is wealth</p>
                        <br>
                        <span>For any Enquiry contact:</span>&nbsp;
                        <span><strong>Zubin</strong> : 9833558663 and <strong>Amit</strong> : 9699538479</span>
                    </div>
                </div>
            </div>
            <div class="row block-title1">
                <!-- <div class="col-md-6">
                    <div class="activity">
                        <div class="slider" style="margin-top:0px">
                            <flex-slider flex-slide="s in mySlides">
                                <li>
                                    <img ng-src="{{s}}" class="img-responsive">
                                </li>
                            </flex-slider>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="activity-info">
                        <h4>Manav Blood Donation Movement</h4>
                        <p>
                            “NO HUMAN DIE FOR WANT OF BLOOD, A VITAL FLUID HAVING NO SUBTITUTE”
                        </p>
                        <p>Since 1971 Tarun Mitra Mandal regularly educates and explains the importance of voluntary blood donation
                            and motivates healthy people to donate blood. From 1971 to till May 2015 the organization has
                            been instrumental in collecting more than 1,17,842 units of blood. At present, every year 3 camps
                            of full day are arranged. Tarun Mitra Mandal is the leading organization for voluntary blood
                            donation and for that matter is the only social organization of megapoly now having a track record
                            of collecting an average of 3500 blood units in a single day camp.</p>
                        <p>The blood donor are honoured with (1) Blood Donor’s Credit Card, (2) Momento or Gift. As a result
                            of regular tie up with local government hospital- K.E.M. (Parel) which has the most modern and
                            the biggest plasma fractional units, the lives of 5 to 8 patients are caused to be saved out
                            of the each of unit blood collected at blood donation camps.</p>
                    </div>
                </div>
            </div>
            <div class="row block-title1">
                <!-- <div class="col-md-6">
                    <div class="activity">
                        <div class="slider" style="margin-top:0px">
                            <flex-slider flex-slide="s in mySlides">
                                <li>
                                    <img ng-src="{{s}}" class="img-responsive">
                                </li>
                            </flex-slider>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="activity-info">
                        <h4>Book Bank for needy students</h4>
                        <p>
                            The journey of TMM began with the managing Book Bank of Shri K.V.O.S. Jain Mahajan in 1969. At the beginning of each academic
                            year, students get the entire set of required textbooks against a nominal refundable deposit.</p>
                        <p>Till June 2015 more than 34,000 students have been extended the helping hand to pursue their studies.</p>
                        <p>Incidental to this, notebooks, school uniforms, raincoats/umbrella and other education related things
                            are distributed free of cost to the poorest of poor of the society irrespective of caste, creed,
                            colour, faith or religion. Many students, with the support of this project, have fulfilled their
                            ambitions of pursuing higher studies and are now well placed in the society, after graduating
                            in streams like Medical, Engineering, Chartered Accountancy, etc.</p>
                        <p>Book Bank centers are operated at Chincpokli, Mulund, Ambernath, Nalasopala, Ghatkopar, Dombivili
                            and Andheri so as to reach out to as many needy students as possible.</p>
                        <p>We issue fresh sets of textbooks at a refundable amount of Rs.100, and digests at a refundable amount
                            of Rs.250. While the students return their set of books with minimum depreciation, the paid amount
                            is refunded.</p>
                        <p>Every year around 1,300 students are issued with Text Books & Digests. In 2014 around 1,392 sets
                            of books were issued.</p>
                        <p>For further detials call 09833558663</p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row block-title1">
                <!-- <div class="col-md-6">
                    <div class="activity">
                        <div class="slider" style="margin-top:0px">
                            <flex-slider flex-slide="s in mySlides">
                                <li>
                                    <img ng-src="{{s}}" class="img-responsive">
                                </li>
                            </flex-slider>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="activity-info">
                        <h4>Lecture Series</h4>
                        <p>
                            With a view, to spread knowledge and information and also to propogate moral & ethical values, lecture series, each of 3-5
                            days are being organised twice a year since last thirty years. Eminent speakers from different
                            walks of life are invited to enlighten the audience and to spread the do\'s and have\'s. Each
                            series is being attended daily by more than 500 people.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row block-title1">
                <!-- <div class="col-md-6">
                    <div class="activity">
                        <div class="slider" style="margin-top:0px">
                            <flex-slider flex-slide="s in mySlides">
                                <li>
                                    <img ng-src="{{s}}" class="img-responsive">
                                </li>
                            </flex-slider>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="activity-info">
                        <h4>Feed the hungry</h4>
                        <p>Hunger is still the no.1 cause of death in the world and a third of the world's hungry live in India.
                            Each minute, five Indians die of hunger which makes 7000 each day and 2.5 million people dying
                            of hunger in India every year.*</p>
                        <p>With a mere 0.9% of India's GDP being spent on health care, the scenario, not surprisingly, isn't
                            a very pleasing one. Data shows that every second child in the country suffers from malnutrition,
                            that over 1,000 people succumb to Tuberculosis everyday, that almost 60,000 children are born
                            with HIV each year! Basic health care and health assurance seem to be a distant dream for most
                            of the population. Your gift will provide someone with one of life's most basic requirements
                            - their health!</p>
                        <p>
                            Over one billion people worldwide are chronically undernourished.
                            <ul>
                                <li>Two billion people face vitamin and mineral deficiencies which pose serious health threats.</li>
                                <li>The number of people who die as a direct result of malnutrition is equivalent to dropping
                                    a Hiroshima bomb every three days.</li>
                                <li>Hunger takes the lives of 24,000 people every day.</li>
                                <li>14 million children under the age of five die every year from preventable, hunger related
                                    causes.
                                </li>
                                <li>There are 65 food deficit nations in the world today.</li>
                            </ul>
                        </p>
                        <p>So hospitals like WADIA CHILDRENS HOSPITAL, TATA HOSPITAL, SION HOSPITAL, NAIR HOSPITAL, K.E.M HOSPITAL
                            we give fruits n food to patient & even to the needy people.</p>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        Wadia Hospital
                                    </td>
                                    <td>
                                        Breakfast
                                    </td>
                                    <td>
                                        Rs.3100
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Tata Hospital
                                    </td>
                                    <td>
                                        Fruits
                                    </td>
                                    <td>
                                        Rs.4100
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        KEM Hospital (O.P.D)
                                    </td>
                                    <td>
                                        Lunch
                                    </td>
                                    <td>
                                        Rs.2100
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Sion Hospital
                                    </td>
                                    <td>
                                        Breakfast
                                    </td>
                                    <td>
                                        Rs.3100
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Nair Hospital
                                    </td>
                                    <td>
                                        Breakfast
                                    </td>
                                    <td>
                                        Rs.3100
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row block-title1">
                <!-- <div class="col-md-6">
                    <div class="activity">
                        <div class="slider" style="margin-top:0px">
                            <flex-slider flex-slide="s in mySlides">
                                <li>
                                    <img ng-src="{{s}}" class="img-responsive">
                                </li>
                            </flex-slider>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="activity-info">
                        <h4>Yuvraj Eye Donation Movement</h4>
                        <p>“Donate Eye Spread Light”</p>
                        <p>Having carved a niche in the blood-donation movement and made a prime place for itself, Tarun Mitra
                            Mandal Had decided to launch the Yuvraj Eye Donation Movement on the 50th anniversary of India’s
                            Independence i.e 15th august,1997. Eye Donation Movement is inspired by Shri K.V.O.S. Jain Mahajan.</p>
                        <p>The Slogan coined was “Blindness-Quit India”.</p>
                        <p>Unfortunately, there is woeful lack of knowledge annual average Seventy Five thousand people die,
                            than 25 lacs corneal blind people are awiting for restoration of sight and out of them more than
                            60% are children below the age 12. Tarun Mitra Mandal, has setup a human chain of more than 500
                            people comprising of voluntary devoted social workers, general medical practitioners and eye
                            surgeons.
                            <br> After death if family member wish to donate the eye of decrease please call on 1919 or Kusum
                            VIra : 24922897</p>
                        <p>The entire geographical area of the city has been broadly divided into 3 region.
                            <ol>
                                <li>Down town.</li>
                                <li>Suburbs along Central Railway.</li>
                                <li>Suburbs along the Western Railway.</li>
                            </ol>
                        </p>
                        <p>These three regions are further divided into 37 zones each of such zone has a team consisting of
                            3 to 7 social workers and doctors. Infact by doing so, Tarun Mitra Mandal has set-up 37 mobile
                            eye banks.</p>
                        <p>Within less than 14 years of its operation, i.e. on 1-5-2015 more than 14,194 eye balls are collected
                            and given to the Eye Bank Co-ordination and Research Centre, which is affiliated to the International
                            Federation of Eye and Tissue Banks, Baltimore (USA), for evaluation and processing and further
                            distribution of corneas to the beneficiaries. Tarun Mitra Mandal has got a place of pride for
                            having received accreditation from Internation Federation of Eye Banks an apex world that Yuraj
                            Eye Donation Movement is largest city wide organization of the world.</p>
                    </div>
                </div>
            </div>
            <div class="row block-title1">
                <!-- <div class="col-md-6">
                    <div class="activity">
                        <div class="slider" style="margin-top:0px">
                            <flex-slider flex-slide="s in mySlides">
                                <li>
                                    <img ng-src="{{s}}" class="img-responsive">
                                </li>
                            </flex-slider>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="activity-info">
                        <h4>Sakshamta Abhiyan</h4>
                        <p>Nine College students who were at the end of their last term wanted to do something innovative and
                            useful for the people during vacation and collectively came up with the initiative named “SAKSHAMTA
                            ABHIYAN” which was leaded by Zubin Savla.</p>
                        <p>The project was built to educate people about basic learning and debugging in electronic equipments,
                            computer and mobile which are in daily use in very much informal way of learning.
                            <br> (Not for Profit)</p>
                        <p>These 9 Students of Shah & Anchor Kutchhi Engineering College took up this initiative further to
                            remarkable level with full support of K.V.O.S.Jain Mahajan. The youth team was undertaking the
                            lectures as well as practical classes.</p>
                        <p>Till now 1000+ students have successfully completed this course
                            <br> 5 Batches Completed
                            <br> 6th Batch started December, 2015</p>
                        <p>Two Branch : Chinchpokli (Main) & Dombivili</p>
                        <p>Main Team</p>
                        <p>Zubin Deepa Chetan Savla
                            <br> Shashank Komal Anil Gada
                            <br> Janil Heena Jayant Sangoi
                            <br> Meet Bhavna Ravindra Sangoi
                            <br> Vinit Sarla Mulchand Dedhia
                            <br> Shruti Ramila Premji Shah
                            <br> Jigar Smita Panjak Shah
                            <br> Shrenik Jayshree Rajesh Mota
                            <br> Dimpi Kalpana Harshad Shah</p>
                        <p>Second Team</p>
                        <p>Namisha Padma Mahendra Jain</p>
                        <p>Pooja Manisha Yogen Mehta
                            <br> Margoob Ahamad AYESHA Maksood Ahamad Pasha</p>
                        <p>Keval Usha Narendra Mamania
                            <br> Herin Vinay Gala</p>
                        <p>Its 8 day course.</p>
                        <p>4 hours per day excluding break</p>
                        <p>No Caste, No Age, Nor Gender limitations</p>
                        <p>Designed professional practical rooms for conduction practical classes</p>
                        <p>Students were given a customized kit and booklet</p>
                        <p>Whenever needed lectures were also conducted with help of Audio,Video Presentation</p>
                        <p>For detials contact Zubin Savla - +91 - 9833 - 558 - 663</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>