<section auto-height class="mt83">
   <div class="rti-banner">
      <img src="img/donate.jpg" class="img-responsive">
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-12 mar">
            <div class="rti-movement mt50">
               <h1 class="block-title">Donation</h1>
            </div>
            <p>With a day in day-out, the educational and medical expenses are becoming out of reach of poor and middle class families. To mitigrate hardships of distressed families, all huminity loving and philanthophists are requested to contribute as
               much as possible. </p>
            <p>Please fill out the following form. Our Coordinator will soon contact you personally:</p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="donate-form ">
               <form class="mb30" ng-submit="donate();">
                  <label for="">Name</label>
                  <input type="text" class="form-control ipfocus" placeholder="Name" ng-model="donateNow.name" required>
                  <label for="">Telephone No</label>
                  <input type="text" class="form-control ipfocus" placeholder="Telephone No" ng-model="donateNow.mobileno" required>
                  <label for="">Amount Wish To Contribute</label>
                  <input type="number" class="form-control ipfocus" placeholder="Amount" required ng-model="donateNow.amt">
                  <div class="mb30">
                     <button class="btn btn-primary" type="submit">Submit</button>
                     <button class="btn btn-primary">Cancel</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="note">
               <h4>Note:</h4>
               <p>The Contribution cheque for EDUCATIONAL AID FUND to be drawn in favour of TARUN MITRA MANDAL.</p>
               <p>The Contribution cheque for MEDICAL AID FUND to be drawn in favour of SRI VELJI LAKHAMSHI NAPOO FOUNDATION.</p>
               <p>Both of above Donations are exempted us 80G.</p>
            </div>
         </div>
      </div>
   </div>
</section>
