<section class="mt83">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="gall-det mt50">
                    <h1 class="block-title">Event</h1>
                </div>
            </div>
        </div>
        <!-- <p>
                {{event.content}}
              </p> -->
        <div class="row">
            <div class="mgt-30">
                <div class="col-md-4">
                    <div class="event-img">
                        <img ng-src="img/blood.jpg" class="img-responsive">
                        <!-- <img ng-src="{{event.image|uploadpath}}" class="img-responsive"> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="event">
                        Blood Camp @ Chinchpokli Mahajan Wadi, Vashi, Malad and Dombivali on Sunday 25/09/2016 and @ Ghatkopar on Sunday 18/09/2016.
                    </p>
                </div>
            </div>



            <!-- <p>
                    Integer vitae condimentum dolor, et consectetur neque. In eget ornare lacu consectetur
                  </p>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                    desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </p> -->
        </div>
    </div>

</section>
