<section class="mt83">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="gall-det mt50">
                    <h1 class="block-title">Feed The Hungry</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="activity-info">
                    <p>Hunger is still the no.1 cause of death in the world and a third of the world's hungry live in India. Each minute, five Indians die of hunger which makes 7000 each day and 2.5 million people dying of hunger in India every year.*</p>

                    <p>With a mere 0.9% of India's GDP being spent on health care, the scenario, not surprisingly, isn't a very pleasing one. Data shows that every second child in the country suffers from malnutrition, that over 1,000 people succumb to Tuberculosis
                        everyday, that almost 60,000 children are born with HIV each year! Basic health care and health assurance seem to be a distant dream for most of the population. Your gift will provide someone with one of life's most basic requirements
                        - their health!</p>

                    <p>
                        Over one billion people worldwide are chronically undernourished.
                        <ul>
                            <li>Two billion people face vitamin and mineral deficiencies which pose serious health threats.</li>
                            <li>The number of people who die as a direct result of malnutrition is equivalent to dropping a Hiroshima bomb every three days.</li>
                            <li>Hunger takes the lives of 24,000 people every day.</li>
                            <li>14 million children under the age of five die every year from preventable, hunger related causes.</li>
                            <li>There are 65 food deficit nations in the world today.</li>
                        </ul>
                    </p>


                    <p>So hospitals like WADIA CHILDRENS HOSPITAL, TATA HOSPITAL, SION HOSPITAL, NAIR HOSPITAL, K.E.M HOSPITAL we give fruits n food to patient & even to the needy people.</p>

                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    Wadia Hospital
                                </td>
                                <td>
                                    Breakfast
                                </td>
                                <td>
                                    Rs.3100
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Tata Hospital
                                </td>
                                <td>
                                    Fruits
                                </td>
                                <td>
                                    Rs.4100
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    KEM Hospital (O.P.D)
                                </td>
                                <td>
                                    Lunch
                                </td>
                                <td>
                                    Rs.2100
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sion Hospital
                                </td>
                                <td>
                                    Breakfast
                                </td>
                                <td>
                                    Rs.3100
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nair Hospital
                                </td>
                                <td>
                                    Breakfast
                                </td>
                                <td>
                                    Rs.3100
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 hide">
            <img src="" alt="" class="img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6"><img src="img/main_bg.jpg" alt="" class="img-responsive"></div>
          <div class="col-md-6"><img src="img/main_bg2.jpg" alt="" class="img-responsive"></div>
        </div>
    </div>
    </div>
</section>
