<section auto-height>
  <div class="rti-banner">
    <img src="img/gall.jpg" class="img-responsive">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="gall-det mt50">
          <h1 class="block-title">Our Gallery</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6" ng-repeat="data in gallery track by $index">
        <div class="mb15">
              <a class="fancybox-thumb" rel="fancybox-thumb" href="{{data.img}}" >
          <img ng-src="{{data.img}}" class="img-responsive ">
        </a>
          </div>
      </div>
    </div>
  </div>
</section>
