<section auto-height>
  <div class="slider">
    <flex-slider flex-slide="s in mySlides">
      <li>
        <img ng-src="{{s}}" class="img-responsive">
      </li>
    </flex-slider>
  </div>
  <section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Fact & Figure</h1>
            <ul>
              <li>In 85 camps over 1,21,724 bottles of Blood collected</li>
              <li>We broke a record by collecting 4450 bottles of blood units in just 1 day camp on 26th Septmber, 2010. </li>
              <li>Till December 2014 we have collected 15,194 eyeballs. </li>
              <li>More than 34,500 students have been extended the helping hand to pursue their school studies.
              </li>
              <li>September 2015 around 1250 sets of books were been issued.
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="fact-box">
              <div class="fact-title">
                <div class="icon">
                  <img src="img/user146.png" class="img-responsive">
                </div>
                <div class="num">
                  <span class="fact-number" data-to="1024" data-speed="1500">1024</span>
                </div>
                <div class="desc">
                  <span class="lead">Volunteers across the world</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="fact-title">
              <div class="icon">
                <img src="img/transfusion2.png" class="img-responsive">
              </div>
              <div class="num">
                <span class="fact-number" data-to="1024" data-speed="1500">1024</span>
              </div>
              <div class="desc">
                <span class="lead">Volunteers across the world</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="fact-title">
              <div class="icon">
              <img src="img/tents3.png" class="img-responsive">
              </div>
              <div class="num">
                <span class="fact-number" data-to="1024" data-speed="1500">1024</span>
              </div>
              <div class="desc">
                <span class="lead">Volunteers across the world</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="fact-title">
              <div class="icon">
                <img src="img/medical107.png" class="img-responsive">
              </div>
              <div class="num">
                <span class="fact-number" data-to="1024" data-speed="1500">1024</span>
              </div>
              <div class="desc">
                <span class="lead">Volunteers across the world</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="grey-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="event">
              <h1>
              Event
            </h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam neque urna, venenatis convallis quam et, facilisis vestibulum nunc.
              </p>
              <p>
                Integer vitae condimentum dolor, et consectetur neque. In eget ornare lacu consectetur
              </p>
              <p>
                Nullam leo orci, rhoncus non est quis, tristique fermentum orci.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="event-img">
              <img src="img/event.jpg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section auto-height>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="gal">
              <h1 class="block-title">Our <span>Gallery</span></h1>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="gallery-filter pull-right">
              <!-- <a class="filter" data-filter=".category-1">Africa</a> -->
              <a class="filter all" data-filter="all">Indonesia</a>
              <a class="filter " data-filter=".category-1">Syria</a>
              <a class="filter" data-filter=".category-2 "><i class="fa fa-picture-o"></i></a>
            </div>
          </div> -->
        </div>

      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3"  data-my-order="1" ng-repeat="data in gallery track by $index">
            <img ng-src="{{data.img}}" class="img-responsive ">
          </div>
          <!-- <div class="col-md-4 mix category-2" data-my-order="2" ng-repeat="data in gallerys track by $index">
            <img ng-src="{{data.image}}" class="img-responsive ">
          </div> -->
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="sponser">
              <h1>Our Sponser</h1>

              <div class="horizontal-carousel">
                <ul class="slides">
                  <li class="brand">
                    <img src="img/partner1.png" alt="" />
                  </li>
                  <li class="brand">
                    <img src="img/partner2.png" alt="" />
                  </li>
                  <li class="brand">
                    <img src="img/partner3.png" alt="" />
                  </li>
                  <li class="brand">
                    <img src="img/partner4.png" alt="" />
                  </li>
                  <li class="brand">
                    <img src="img/partner5.png" alt="" />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section auto-height>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="contact">
              <h1>Contact Us</h1>
              <p>
                C/o. Gada & Haria,
              </p>
              <p>
                5, Framroz Court, 2nd Floor,
              </p>
              <p>Dadasaheb Phalke Road,Dadar(C.R.) </p>
              <p>Mumbai- 400014 </p>
              <p>Kantilal D. Gada Mobile:- <span>9869548443</span></p>
              <p>Email:- <span>info@thetmm.org</span></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.155518429655!2d72.8401085153308!3d19.01286755889365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cee784e322ad%3A0x36c6a4d5eb7ebd3!2sGada+%26+Haria!5e0!3m2!1sen!2sin!4v1453531159638"
              width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="contact-form">
              <form action="">
                <div class="row">
                  <div class="col-md-4">
                    <div class="text-field">
                      <i class="fa fa-user"></i>
                      <span class="your-name"><input type="text" name="your-name"  value="" size="40" placeholder="Name" /></span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="text-field">
                      <i class="fa fa-envelope"></i>
                      <span class="your-email"><input type="email" name="your-email"  value="" size="40" placeholder="E-mail" /></span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="text-field">
                      <i class="fa fa-phone"></i>
                      <span class="your-subject"><input type="text" name="your-subject"  value="" size="40" placeholder="Phone" /></span>
                    </div>
                  </div>
                </div>
                <div class="textarea">
                  <div class="text-field">
                    <i class="fa fa-comment"></i>
                    <span class="your-subject"><textarea name="your-subject" cols="40" rows="10" placeholder="Your Text"></textarea></span>
                  </div>
                  <div class="send-message submit-field">
                    <input type="submit" value="Send Message" class="btn btn-orange btn-large" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
