<section class="mt-111">
    <div class="slider">
        <!-- <flex-slider flex-slide="s in mySliders">
            <li>
                <img ng-src="{{s}}" class="img-responsive">
            </li>
        </flex-slider> -->
        <flex-slider flex-slide="s in mySlides">
            <li>
                <img ng-src="{{s|uploadpath}}" class="img-responsive">
            </li>
        </flex-slider>
    </div>
</section>

<section class="sec-mar section-other mb-50">
    <div class="container">
        <div class="pt100">
            <!-- <div class="row">
        <div class="col-md-12 pl30">
          <h1 class="block-title">Fact &amp; Figure</h1>
          <ul class="padding0 fact-li">
            <li>In 85 camps over 1,21,724 bottles of Blood collected</li>
            <li>We broke a record by collecting 4450 bottles of blood units in just 1 day camp on 26th Septmber, 2010. </li>
            <li>Till December 2014 we have collected 15,194 eyeballs. </li>
            <li>More than 34,500 students have been extended the helping hand to pursue their school studies.
            </li>
            <li>September 2015 around 1250 sets of books were been issued.
            </li>
          </ul>
        </div>
      </div> -->
            <div class="blood-count pt20">
                <div class="row-flex">
                    <div class="col-flex">
                        <div class="fact-box text-center">
                            <div class="fact-title">
                                <div class="icon">
                                    <img src="img/TMM Blood Logo.png" class="img-responsive">
                                </div>
                                <div class="num">
                                    <!-- <span class="fact-number" data-to="1024" data-speed="1500" count-to="27972" value="0" duration="1">27972</span> -->
                                    <span class="fact-number" count-to="27972" duration="3" count-from="0"></span>
                                </div>
                                <div class="desc">
                                    <span class="lead">Number of Blood Donors</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-flex">
                        <div class="fact-title text-center">
                            <div class="icon">
                                <img src="img/TMM Eye Logo.png" class="img-responsive">
                            </div>
                            <div class="num">
                                <!-- <span class="fact-number" data-to="1024" data-speed="1500">127391</span> -->
                                <span class="fact-number" count-to="14628" duration="3" count-from="0"></span>
                            </div>
                            <div class="desc">
                                <span class="lead">Number of Eye Donors</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-flex">
                        <div class="fact-title text-center">
                            <div class="icon">
                                <img src="img/TMM Book Bank Logo.png" class="img-responsive">
                            </div>
                            <div class="num">
                                <!-- <span class="fact-number" data-to="1024" data-speed="1500">87</span> -->
                                <span class="fact-number" count-to="34000" duration="3" count-from="0"></span>
                            </div>
                            <div class="desc">
                                <span class="lead">Number of Book Banks</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-flex">
                        <div class="fact-title text-center">
                            <div class="icon">
                                <img src="img/TMM RTI Logo.png" class="img-responsive">
                            </div>
                            <div class="num">
                                <!-- <span class="fact-number" data-to="1024" data-speed="1500">6000+</span> -->
                                <span class="fact-number" count-to="6000" duration="3" count-from="0"></span>
                            </div>
                            <div class="desc">
                                <span class="lead">Number of RTI Applications</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-flex">
                        <div class="fact-title text-center">
                            <div class="icon">
                                <img src="img/eye.png" class="img-responsive">
                            </div>
                            <div class="num">
                                <!-- <span class="fact-number" data-to="1024" data-speed="1500">14628</span> -->
                                <span class="fact-number" count-to="14628" duration="3" count-from="0"></span>
                            </div>
                            <div class="desc">
                                <span class="lead">Number of Hungry Feed</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
