<section class="mt83">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="gall-det mt50">
                    <h1 class="block-title">Lecture Series</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="activity-info">
                    <p>

                        With a view, to spread knowledge and information and also to propogate moral & ethical values, lecture series, each of 3-5
                        days are being organised twice a year since last thirty years. Eminent speakers from different walks
                        of life are invited to enlighten the audience and to spread the do\'s and have\'s. Each series is
                        being attended daily by more than 500 people.

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 hide">
                <img src="" alt="" class="img-responsive">
            </div>
        </div>
        <div class="row hide">
            <div class="col-md-6"><img src="img/main_bg.jpg" alt="" class="img-responsive"></div>
            <div class="col-md-6"><img src="img/main_bg2.jpg" alt="" class="img-responsive"></div>
        </div>
    </div>
    </div>
</section>