<section class="mt83">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="gall-det mt50">
                    <h1 class="block-title">Manav Blood Donation Movement</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="activity-info">

                    <p>
                        “NO HUMAN DIE FOR WANT OF BLOOD, A VITAL FLUID HAVING NO SUBTITUTE”
                    </p>

                    <p>Since 1971 Tarun Mitra Mandal regularly educates and explains the importance of voluntary blood donation
                        and motivates healthy people to donate blood. From 1971 to till May 2015 the organization has been
                        instrumental in collecting more than 1,17,842 units of blood. At present, every year 3 camps of full
                        day are arranged. Tarun Mitra Mandal is the leading organization for voluntary blood donation and
                        for that matter is the only social organization of megapoly now having a track record of collecting
                        an average of 3500 blood units in a single day camp.</p>

                    <p>The blood donor are honoured with (1) Blood Donor’s Credit Card, (2) Momento or Gift. As a result of
                        regular tie up with local government hospital- K.E.M. (Parel) which has the most modern and the biggest
                        plasma fractional units, the lives of 5 to 8 patients are caused to be saved out of the each of unit
                        blood collected at blood donation camps.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 hide">
                <img src="" alt="" class="img-responsive">
            </div>
        </div>
        <div class="row hide">
            <div class="col-md-6"><img src="img/main_bg.jpg" alt="" class="img-responsive"></div>
            <div class="col-md-6"><img src="img/main_bg2.jpg" alt="" class="img-responsive"></div>
        </div>
    </div>
    </div>
</section>