<section auto-height>
  <div class="rti-banner">
    <img src="img/rti.jpg" class="img-responsive">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="rti-movement mt50">
          <h1 class="block-title">RTI Movements</h1>
        </div>
        <div class="rti-accordion">
          <uib-accordion close-others="true">
            <uib-accordion-group is-open="status.isFirstOpen">
              <uib-accordion-heading>
                RTI Centre Details <i class="pull-right fa" ng-class="{'fa-minus' : status.isFirstOpen, 'fa-plus' : !status.isFirstOpen}"></i>
              </uib-accordion-heading>
              <div class="rti-det">
                <a href="files/all_center_details.pdf" target="_blank">RTI Centre Details</a>
              </div>
            </uib-accordion-group>
            <uib-accordion-group is-open="status.open1">
              <uib-accordion-heading>
                Introduction to RTI Act <i class="pull-right fa" ng-class="{'fa-minus' : status.open1 , 'fa-plus' : !status.open1}"></i>
              </uib-accordion-heading>
              <div class="rti-det">
                <h4>Movement for Public Rights:</h4>
                <p>Maharashtra Right to Information Act, 2002, was enforced on August 11, 2003 with retrospective effect from September 23, 2002 and has been repealed on 11th October 2005.</p>
                <p>Right to Information Act-2005, the national act, has come in full force from 12th October 2005.
                </p>
                <p>This legislation is a class apart from most others. It seeks to regulate not the actions of the citizens, as most other legislation do, but that of the people who govern. It fortifies citizens' fundamental right to know what the government
                  and dependent organizations are doing for them.</p>
              </div>
            </uib-accordion-group>
            <uib-accordion-group is-open="status.open2">
              <uib-accordion-heading>
                Success Stories of RTI <i class="pull-right fa" ng-class="{'fa-minus': status.open2 ,'fa-plus': !status.open2}"></i>
              </uib-accordion-heading>
              <div class="rti-det">
                <p><a href="http://www.dnaindia.com/mumbai/report-maharashtra-cic-orders-early-return-of-property-papers-1387875" target="_blank">Maharashtra CIC orders early return of property papers (Wednesday, 26 May 2010, DNA Mumbai edition)</a> </p>
                <p><a href="http://epaper.timesofindia.com/Default/Scripting/ArticleWin.asp?From=Search&Source=Find&Key=TOIM/2009/06/07/3/Ar00300.xml&CollName=TOI_MUMBAI_DAILY_2009&DOCID=44329&Keyword=(%3Cmany%3E%3Cstem%3EViju)&skin=TOINEW&AppName=1&PageLabel=3%20&ViewMode=HTML&GZ=T"
                    target="_blank">Fighting for other people’s causes (Sunday, 7 Jun 2009, Times of India Mumbai edition)
                </a></p>
              </div>
            </uib-accordion-group>
            <uib-accordion-group is-open="status.open3">
              <uib-accordion-heading>
                RTI Act <i class="pull-right fa" ng-class="{'fa-minus' : status.open3 , 'fa-plus' : !status.open3}"></i>
              </uib-accordion-heading>
              <div class="rti-det rti-mov">
                <ul>
                  <li><a href="files/RTIACT-ENGLISH.pdf" target="_blank">RTI-ACT-ENGLISH</a></li>
                  <li><a href="files/RTIACT-GUJARAT.pdf" target="_blank">RTI-ACT-GUJARAT</a></li>
                  <li><a href="files/RTIACT-HINDI.pdf" target="_blank">RTI-ACT-HINDI</a></li>
                  <li><a href="files/RTIACT-MARATHI.pdf" target="_blank">RTI-ACT-MARATHI</a></li>
                </ul>
              </div>
            </uib-accordion-group>
            <uib-accordion-group is-open="status.open4">
              <uib-accordion-heading>
                Rules of RTI -Maharashtra <i class="pull-right fa" ng-class="{'fa-minus' : status.open4 , 'fa-plus' : !status.open4}"></i>
              </uib-accordion-heading>
              <div class="rti-det">
                <a href="files/RULEOFRTI-MAHARASTRA.pdf" target="_blank">RULE OF RTI-MAHARASTRA</a>
              </div>
            </uib-accordion-group>
            <uib-accordion-group is-open="status.open5">
              <uib-accordion-heading>
                Rules of RTI -Gujarat <i class="pull-right fa" ng-class="{'fa-minus' : status.open5 , 'fa-plus' : !status.open5}"></i>
              </uib-accordion-heading>
              <div class="rti-det">
                <a href="files/RULEOFRTI-GUJARAT.pdf" target="_blank">RULE OF RTI-GUJARAT</a>
              </div>
            </uib-accordion-group>
            <uib-accordion-group is-open="status.open6">
              <uib-accordion-heading>
                RTI Clinics run by other organisations <i class="pull-right fa" ng-class="{'fa-minus' : status.open6 , 'fa-plus' : !status.open6}"></i>

              </uib-accordion-heading>
              <div class="rti-det">
                <h4>RTI Clinics run by other organisations</h4>
                <p><strong>RTI Clinics are conducted at the following places </strong>- (Please confirm on phone with the respective Organisation/Activists for correct day, timing & appointment)</p>
                <div class="org-detail">
                  <h4>Bombay Chartered Accountants' Society (BCAS Foundation)</h4>
                  <div class="mt20">
                    <p>Ms. Hema Sampat,</p>
                    <p>7, Jolly Bhavan No. 2, New Marine Lines,</p>
                    <p>Mumbai 400 020</p>
                    <p>Ph.: 6659 5601-05</p>
                    <p>Website :<a href="http://www.bcasonline.org/" target="_blank"> www.bcasonline.org</a></p>
                    <p>E-mail :<a href="mailto:bcas@bcasonline.org" target="_top"> bcas@bcasonline.org</a></p>


                    <span style="font-size: 10pt; font-family: Arial; ">2<sup>nd</sup>, 3<sup>rd</sup>&nbsp;and 4<sup>th</sup>&nbsp;Saturdays every month between 11.00 am to 13.00 pm.</span>
                  </div>
                  <h4 class="">RTI clinics coordinated by PCGT</h4>
                  <div class="mt21">
                    <p>B/2, Mahalaxmi Chambers, ,</p>
                    <p>22, Bhulabhai Desai Road </p>
                    <p> Mumbai 400026</p>
                    <p> Ph.: 2352 6426</p>
                    <p> Web site :<a href="http://www.pcgt.org/" target="_blank"> www.pcgt.org</a></p>
                    <p> E-mail :<a href="mailto:publicconcern@gmail.com" target="_top"> publicconcern@gmail.com</a></p>


                    <span class="mt212" style="font-size: 10pt; font-family: Arial; ">1<sup>st</sup>&nbsp;& 3<sup>rd</sup>&nbsp;Monday of every month between 12 pm to 2.00 pm.</span>
                    <span class="mt212 text-bold"> For appointment : 2352 6426</span>
                  </div>
                  <h4>RTI clinics coordinated by GIANTS INTERNATIONSAL CHARITABLE TRUST</h4>
                  <div class="mt22">
                    <p>2ND Fl., Orient Club Building,</p>
                    <p>9, Chowpatty, Sea Face,</p>
                    <p>Mumbai 400007</p>
                    <p>Ph.: 2367 9698</p>
                    <p> Web site :<a href="http://www.giantsinternational.org/" target="_blank"> www.giantsinternational.org</a></p>
                    <p> E-mail :<a href="mailto:pgiantwld@mtnl.net.in" target="_top"> pgiantwld@mtnl.net.in</a></p>


                    <span style="font-size: 10pt; font-family: Arial; ">1<sup>st</sup>&nbsp;& 3<sup>rd</sup>&nbsp;Monday of every month between 4.30 pm to 6.30 pm.</span>
                  </div>
                  <h4>RTI clinics coordinated by INDIAN MERCHANTS' CHAMBER WITH PCGT</h4>
                  <div class="mt23">
                  <p>IMC Building,</p>
                  <p> 2nd Floor,IMC Marg,</p>
                  <p> Churchgate,</p>
                  <p> Mumbai-400 020</p>
                  <p>Email :<a href="mailto:imc@imcnet.org" target="_top"> imc@imcnet.org</a></p>
                  <p>Visit us at<a href="http://www.imcnet.org" target="_blank"> www.imcnet.org</a></p>


                  <span class="mt212" style="font-size: 10pt; font-family: Arial; ">Runs clinic on the &nbsp;1<sup>st</sup>&nbsp;and 3<sup>rd</sup>&nbsp;Wednesday of every month between 4:00pm to 5:30pm.</span>
                  <span class="mt212 text-bold"> For appointment call 2204 6633</span>
                </div>
              </div>
              </div>
            </uib-accordion-group>
            <uib-accordion-group is-open="status.open7">
              <uib-accordion-heading>
                RTI Application Form <i class="pull-right fa" ng-class="{'fa-minus' : status.open7 , 'fa-plus' : !status.open7}"></i>
             </uib-accordion-heading>

              <div class="rti-det">
                <h4>MAHARASHTRA STATE</h4>
                <ul>
                  <li><a ng-click="open()">APPLICATION MAHARASHTRA STATE (Annexure-A)</a></li>
                  <li><a ng-click="open1()">FIRST APPEAL MAHARASHTRA STATE (Annexure-B)</a></li>
                  <li><a ng-click="open2()">SECOND APPEAL MAHARASHTRA STATE (Annexure-C)</a></li>
                </ul>
              </div>
              <!-- <div class="rti-det">
                <h4>MAHARASHTRA STATE</h4>
                <ul>
                  <li><a href="files/APPLICATION_MAHARASHTRA_STATE.doc" target="_blank">APPLICATION MAHARASHTRA STATE (Annexure-A)</a></li>
                  <li><a href="files/FIRST-APPEAL-MAHARASHTRA-STATE.doc" target="_blank">FIRST APPEAL MAHARASHTRA STATE (Annexure-B)</a></li>
                  <li><a href="files/SECOND-APPEAL-MAHARASHTRA-STATE.doc" target="_blank">SECOND APPEAL MAHARASHTRA STATE (Annexure-C)</a></li>
                </ul>
              </div> -->
               <div class="rti-det">
                 <h4>CENTRAL GOVERNMENT</h4>
                 <ul>
                   <li><a ng-click="open3()">APPLICATION CENTRAL GOVERNMENT (Annexure-A)</a></li>
                   <li><a ng-click="open4()">FIRST APPEAL CENTRAL GOVERNMENT (Annexure-B)</a></li>
                   <li><a>SECOND APPEAL CENTRAL GOVERNMENT (Annexure-C)</a></li>
                   <!-- <li><a ng-click="open5()">SECOND APPEAL CENTRAL GOVERNMENT (Annexure-C)</a></li> -->
                 </ul>
               </div>
               <!-- <div class="rti-det">
                 <h4>CENTRAL GOVERNMENT</h4>
                 <ul>
                   <li><a href="files/APPLICATION_CENTRAL_GOVT.doc" target="_blank">APPLICATION CENTRAL GOVERNMENT (Annexure-A)</a></li>
                   <li><a href="files/FIRST-APPEAL-CENTRAL-GOVT.doc" target="_blank">FIRST APPEAL CENTRAL GOVERNMENT (Annexure-B)</a></li>
                   <li><a href="files/SECOND-APPEAL-CENTRAL-GOVT.doc" target="_blank">SECOND APPEAL CENTRAL GOVERNMENT (Annexure-C)</a></li>
                 </ul>
               </div> -->
            </uib-accordion-group>
            <uib-accordion-group is-open="status.open8">
              <uib-accordion-heading>
                RTI Appeal Fees <i class="pull-right fa" ng-class="{'fa-minus' : status.open8 , 'fa-plus' : !status.open8}"></i>
              </uib-accordion-heading>
              <div class="rti-det">
                <a href="files/FLOWCHART.xls" target="_blank">APPEAL FEES DETAILS</a>
              </div>
            </uib-accordion-group>
            <uib-accordion-group is-open="status.open9">
              <uib-accordion-heading>
                New India Appeal <i class="pull-right fa" ng-class="{'fa-minus' : status.open9 , 'fa-plus' : !status.open9}"></i>
              </uib-accordion-heading>
              <div class="rti-det rti-mov">
                  <ul>
                    <li><a href="files/New-India-remigration-story.doc" target="_blank">NEW INDIA REMIGRATION STORY</a></li>
                    <li><a href="files/change-Protest-remigration-on-tmm-website.doc" target="_blank">CHANGE PROTEST</a></li>
                  </ul>
              </div>
            </uib-accordion-group>
            <uib-accordion-group is-open="status.open10">
              <uib-accordion-heading>
                Complaints under Maharashtra's Act 21 of 2006 <i class="pull-right fa" ng-class="{'fa-minus' : status.open10 , 'fa-plus' : !status.open10}"></i>
              </uib-accordion-heading>
              <div class="rti-det rti-mov">
                <ul>
                  <li><a href="files/Complaint_Section10_Act21of2006.docx" target="_blank">COMPLAINT U/S 10 OF ACT 21 OF 2006 (All Departments other than Municipal Corporations)</a></li>
                  <li><a href="files/Complaint_Section72C_MMCAct.docx" target="_blank">COMPLAINT U/S 72(C) OF MAHARASHTRA MUNICIPAL CORPORATIONS ACT</a></li>
                  <li><a href="files/Complaint_Section64C_MCGM.docx" target="_blank">COMPLAINT U/S 64(C) OF MUMBAI MUNICIPAL CORPORATION ACT</a></li>
                </ul>
                <p>Please edit and complete the above complaint as necessary and send it to the concerned department preferably by Speed Post. Once you send your complaint, please do not forget to register your complaint with us by filling this easy <a href="http://tinyurl.com/tmm-act21" target="_blank">form</a>.</p>
              </div>
            </uib-accordion-group>
          </uib-accordion>
        </div>
        <!-- <div class="rti-list">
          <ul>
            <li>
              <a href="">
                RTI Centre Details
              </a>
            </li>
            <li><a href="">
              Introduction to RTI Act
            </a></li>
            <li>
              <a href="">
                Success Stories of RTI
              </a>
            </li>
            <li>
              <a href="">
                	RTI Act
              </a>
            </li>
            <li>
              <a href="">
                Rules of RTI -Maharashtra
              </a>
            </li>
            <li><a href="">
              Rules of RTI -Gujarat
            </a></li>
            <li><a href="">
              RTI Clinics run by other organisations
            </a></li>
            <li>
              <a href="">
                RTI Application Form
              </a>
            </li>
            <li>
              <a href="">
                RTI Appeal Fees
              </a>
            </li>
            <li>
              <a href="">
                New India Appeal
              </a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</section>
