<section auto-height>
  <div class="rti-banner">
    <img src="img/rti.jpg" class="img-responsive">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="rti-movement">
          <h1>RTI Movements</h1>
        </div>
        <uib-accordion close-others="true">
          <uib-accordion-group is-open="accordian[0].isFirstOpen">
            <uib-accordion-heading>
              RTI Centre Details
            </uib-accordion-heading>
          
      RTI Centre Details

          </uib-accordion-group>
          <uib-accordion-group is-open="accordian[1].isFirstOpen">
            <uib-accordion-heading>
              Introduction to RTI Act
            </uib-accordion-heading>
            <div class="rti-det">
              <h4>Movement for Public Rights</h4>
              <p>Maharashtra Right to Information Act, 2002, was enforced on August 11, 2003 with retrospective effect from September 23, 2002 and has been repealed on 11th October 2005.</p>
              <p>Right to Information Act-2005, the national act, has come in full force from 12th October 2005.
              </p>
              <p>This legislation is a class apart from most others. It seeks to regulate not the actions of the citizens, as most other legislation do, but that of the people who govern. It fortifies citizens\' fundamental right to know what the government
                and dependent organizations are doing for them.</p>
            </div>
          </uib-accordion-group>
          <uib-accordion-group is-open="accordian[2].isFirstOpen">
            <uib-accordion-heading>
              Success Stories of RTI
            </uib-accordion-heading>
            <div class="rti-det">

              <p>1. Maharashtra CIC orders early return of property papers (Wednesday, 26 May 2010, DNA Mumbai edition) </p>
              <p>2.Fighting for other people’s causes (Sunday, 7 Jun 2009, Times of India Mumbai edition)
              </p>
            </div>
          </uib-accordion-group>
          <uib-accordion-group is-open="accordian[3].isFirstOpen">
            <uib-accordion-heading>
              RTI Act
            </uib-accordion-heading>
            <div class="rti-det">
<a href="">RTI-ACT-ENGLISH</a>
<a href="">RTI-ACT-GUJARAT</a>
<a href="">RTI-ACT-HINDI</a>
<a href="">RTI ACT-MARATHI</a>
            </div>
          </uib-accordion-group>
          <uib-accordion-group is-open="accordian[4].isFirstOpen">
            <uib-accordion-heading>
              Rules of RTI -Maharashtra
            </uib-accordion-heading>
            <div class="rti-det">
<a href="">RULE OF RTI-MAHARASTRA</a>
            </div>
          </uib-accordion-group>
          <uib-accordion-group is-open="accordian[5].isFirstOpen">
            <uib-accordion-heading>
              RTI Clinics run by other organisations

            </uib-accordion-heading>
            <div class="rti-det">
<a href="">RULE OF RTI-MAHARASTRA</a>
            </div>
          </uib-accordion-group>
          <uib-accordion-group is-open="accordian[6].isFirstOpen">
            <uib-accordion-heading>
            	RTI Application Form

            </uib-accordion-heading>
            <div class="rti-det">
<a href="">RULE OF RTI-MAHARASTRA</a>
            </div>
          </uib-accordion-group>
          <uib-accordion-group is-open="accordian[7].isFirstOpen">
            <uib-accordion-heading>
            RTI Appeal Fees

            </uib-accordion-heading>
            <div class="rti-det">
<a href="">RULE OF RTI-MAHARASTRA</a>
            </div>
          </uib-accordion-group>
          <uib-accordion-group is-open="accordian[8].isFirstOpen">
            <uib-accordion-heading>
          	New India Appeal
            </uib-accordion-heading>
            <div class="rti-det">
<a href="">RULE OF RTI-MAHARASTRA</a>
            </div>
          </uib-accordion-group>
        </uib-accordion>
        <!-- <div class="rti-list">
          <ul>
            <li>
              <a href="">
                RTI Centre Details
              </a>
            </li>
            <li><a href="">
              Introduction to RTI Act
            </a></li>
            <li>
              <a href="">
                Success Stories of RTI
              </a>
            </li>
            <li>
              <a href="">
                	RTI Act
              </a>
            </li>
            <li>
              <a href="">
                Rules of RTI -Maharashtra
              </a>
            </li>
            <li><a href="">
              Rules of RTI -Gujarat
            </a></li>
            <li><a href="">
              RTI Clinics run by other organisations
            </a></li>
            <li>
              <a href="">
                RTI Application Form
              </a>
            </li>
            <li>
              <a href="">
                RTI Appeal Fees
              </a>
            </li>
            <li>
              <a href="">
                New India Appeal
              </a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</section>
