<section auto-height>
  <div class="rti-banner">
    <img src="img/rti.jpg" class="img-responsive">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="rti-movement">
          <h1>RTI Movements</h1>
        </div>
        <div class="rti-list">
          <ul>
            <li>
              <a href="">
                RTI Centre Details
              </a>
            </li>
            <li><a href="">
              Introduction to RTI Act
            </a></li>
            <li>
              <a href="">
                Success Stories of RTI
              </a>
            </li>
            <li>
              <a href="">
                	RTI Act
              </a>
            </li>
            <li>
              <a href="">
                Rules of RTI -Maharashtra
              </a>
            </li>
            <li><a href="">
              Rules of RTI -Gujarat
            </a></li>
            <li><a href="">
              RTI Clinics run by other organisations
            </a></li>
            <li>
              <a href="">
                RTI Application Form
              </a>
            </li>
            <li>
              <a href="">
                RTI Appeal Fees
              </a>
            </li>
            <li>
              <a href="">
                New India Appeal
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
