<section class="mt83">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="gall-det mt50">
                    <h1 class="block-title">Sakshamta Abhiyan</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="activity-info">
                    <p>Nine College students who were at the end of their last term wanted to do something innovative and useful for the people during vacation and collectively came up with the initiative named “SAKSHAMTA ABHIYAN” which was leaded by Zubin
                        Savla.
                    </p>

                    <p>The project was built to educate people about basic learning and debugging in electronic equipments, computer and mobile which are in daily use in very much informal way of learning.
                        <br> (Not for Profit)</p>

                    <p>These 9 Students of Shah & Anchor Kutchhi Engineering College took up this initiative further to remarkable level with full support of K.V.O.S.Jain Mahajan. The youth team was undertaking the lectures as well as practical classes.</p>




                    <p>Till now 1000+ students have successfully completed this course
                        <br> 5 Batches Completed
                        <br> 6th Batch started December, 2015</p>

                    <p>Two Branch : Chinchpokli (Main) & Dombivili</p>

                    <p>Its 8 day course.</p>
                    <p>4 hours per day excluding break</p>
                    <p>No Caste, No Age, Nor Gender limitations</p>
                    <p>Designed professional practical rooms for conduction practical classes</p>
                    <p>Students were given a customized kit and booklet</p>
                    <p>Whenever needed lectures were also conducted with help of Audio,Video Presentation</p>

                    <p>For detials contact Zubin Savla - +91 - 9833 - 558 - 663</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
