<section class="mt83 mt149">
    <div class="container">
        <div class="row block-title2">
            <div class="col-md-12">
                <div class="activity-info"><img src="img/makerslogo.png" class="img-responsive mar-left-15 mlogo display-inline doneLoading">&nbsp;&nbsp;
                    <h4>Story Of Makers</h4><br>
                    <p>Registration is free</p>
                    <p class="display-inline"><strong>Register online for the event on:</strong></p>
                    <p class="display-inline"><a href="http://storyofmakers.com/" target="_blank">http://storyofmakers.com/</a></p><img src="img/makers.jpeg"
                        class="img-responsive text-center maker doneLoading">
                    <p>Tarun Mitra Mandal is organizing a Science &amp; Technology Expo with a Vision to bring Makers, Artists
                        and Innovators on a common platform and inspire to come up with solutions and unique products to
                        solve real world problems and ispire others to create. We strive to create a unique opportunity to
                        Network &amp; Connect with Fellow Enthusiasts, Start-Ups &amp; Renowned Industrailists.</p>
                    <p class="powered">Initiative by Tarun Mitra Mandal<br>Powered by Navneet Education</p>

                    <img src="img/navneet.png" class="img-responsive doneLoading">
                    <p>Knowledge is wealth</p><br><span>For any Enquiry contact:</span>&nbsp; <span><strong>Zubin</strong> : 9833558663 and <strong>Amit</strong> : 9699538479</span></div>
            </div>
        </div>
    </div>
</section>