<section class="mt83">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="gall-det mt50">
                    <h1 class="block-title">Yuvraj Eye Donation Movement</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="activity-info">
                    <p>“Donate Eye Spread Light”</p>

                    <p>Having carved a niche in the blood-donation movement and made a prime place for itself, Tarun Mitra Mandal Had decided to launch the Yuvraj Eye Donation Movement on the 50th anniversary of India’s Independence i.e 15th august,1997.
                        Eye Donation Movement is inspired by Shri K.V.O.S. Jain Mahajan.</p>

                    <p>The Slogan coined was “Blindness-Quit India”.</p>

                    <p>Unfortunately, there is woeful lack of knowledge annual average Seventy Five thousand people die, than 25 lacs corneal blind people are awiting for restoration of sight and out of them more than 60% are children below the age 12. Tarun
                        Mitra Mandal, has setup a human chain of more than 500 people comprising of voluntary devoted social workers, general medical practitioners and eye surgeons.
                        <br> After death if family member wish to donate the eye of decrease please call on 1919 or Kusum VIra : 24922897</p>

                    <p>The entire geographical area of the city has been broadly divided into 3 region.
                        <ol>
                            <li>Down town.</li>
                            <li>Suburbs along Central Railway.</li>
                            <li>Suburbs along the Western Railway.</li>
                        </ol>
                    </p>

                    <p>These three regions are further divided into 37 zones each of such zone has a team consisting of 3 to 7 social workers and doctors. Infact by doing so, Tarun Mitra Mandal has set-up 37 mobile eye banks.</p>

                    <p>Within less than 14 years of its operation, i.e. on 1-5-2015 more than 14,194 eye balls are collected and given to the Eye Bank Co-ordination and Research Centre, which is affiliated to the International Federation of Eye and Tissue
                        Banks, Baltimore (USA), for evaluation and processing and further distribution of corneas to the beneficiaries. Tarun Mitra Mandal has got a place of pride for having received accreditation from Internation Federation of Eye Banks
                        an apex world that Yuraj Eye Donation Movement is largest city wide organization of the world.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
