<footer>
    <div id="footer" ng-controller="headerctrl">

        <!-- Footer widgets Container -->
        <!-- <div class="footer-widgets">
         <div class="container">
            <div class="row"> -->


        <!-- Footer Widget 1 -->
        <!-- <div class="col-md-5">
                  <div class="widget widget-footer">
                     <h4>About Us</h4> -->

        <!-- Menu links -->
        <!-- <ul class="categories">
                        <li><a href="#">About Event</a></li>
                        <li><a href="#">Current Projects</a></li>
                        <li><a href="#">Ourt Volunteers</a></li>
                        <li><a href="#">Our Partners</a></li>
                        <li><a href="#">Our Gallery</a></li>
                        <li><a href="#">Our Shop</a></li>
                        <li><a href="#">Contact Us</a></li>
                     </ul>
                  </div>
               </div> -->


        <!-- Footer Widget 2 -->
        <!-- <div class="col-md-2">
               </div> -->


        <!-- Footer Widget 3-->
        <!-- <div class="col-md-5">
                  <div class="widget widget-footer">
                     <h4>Subscribe</h4>
                     <div class="widget-body" ng-hide="showThanks">
                       Subscribe to receive latest updates. -->

        <!-- Subscribe form -->
        <!-- <form class="subscribe-f" ng-submit="subscribeNow();">
                           <input type="email" class="form-control subscribe ipfocus" placeholder="Your email id" name="subscribe-footer" ng-model="subscribe.email" required />
                           <i class="fa fa-pencil"></i>
                        </form>
                     </div>
                     <div class="widget-body" ng-show="showThanks">
                        Thank you for subscribing
                     </div>
                  </div>
               </div>

            </div> -->
        <!-- row end -->
        <!-- </div> -->
        <!-- container end -->
        <!-- </div> -->
        <!-- Footer widgets Container End-->
        <div class="container">
            <div class="row">
                <div class="social-top text-center">
                    <a href="mailto:info@thetmm.com"><i class="fa fa-envelope"></i> info@thetmm.com </a>
                    <div class="social-icons display-inline">
                        <a href="https://twitter.com/mandal_mitra" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/groups/131823000205443/" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/tmmservermedia/" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UC7MqkcC6ksxvzGNzmqjVivg" target="_blank"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="copyright text-center">
                    <p>Copyright &copy; {{template.year}}. All Right reserved.</p>
                </div>
                <!-- <div class="col-md-6"> -->
                <!-- <div class="pull-right copyright">
                    <p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a></p>
                </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>


</footer>
