<footer>
   <div id="footer" ng-controller="headerctrl">

      <!-- Footer widgets Container -->
      <div class="footer-widgets">
         <div class="container">
            <div class="row">


               <!-- Footer Widget 1 -->
               <div class="col-md-5">
                  <div class="widget widget-footer">
                     <h4>About Us</h4>

                     <!-- Menu links -->
                     <ul class="categories">
                        <li><a href="#">About Event</a></li>
                        <li><a href="#">Current Projects</a></li>
                        <li><a href="#">Ourt Volunteers</a></li>
                        <li><a href="#">Our Partners</a></li>
                        <li><a href="#">Our Gallery</a></li>
                        <li><a href="#">Our Shop</a></li>
                        <li><a href="#">Contact Us</a></li>
                     </ul>
                  </div>
               </div>


               <!-- Footer Widget 2 -->
               <div class="col-md-2">
               </div>


               <!-- Footer Widget 3-->
               <div class="col-md-5">
                  <div class="widget widget-footer">
                     <h4>Subscribe</h4>
                     <div class="widget-body" ng-hide="showThanks">
                       Subscribe to receive latest updates.

                        <!-- Subscribe form -->
                        <form class="subscribe-f" ng-submit="subscribeNow();">
                           <input type="email" class="form-control subscribe ipfocus" placeholder="Your email id" name="subscribe-footer" ng-model="subscribe.email" required />
                           <i class="fa fa-pencil"></i>
                        </form>
                     </div>
                     <div class="widget-body" ng-show="showThanks">
                        Thank you for subscribing
                     </div>
                  </div>
               </div>

            </div>
            <!-- row end -->
         </div>
         <!-- container end -->
      </div>
      <!-- Footer widgets Container End-->
      <div class="container">
         <div class="row">
            <div class="col-md-6 copyright">
               <p>Copyright &copy; {{template.year}}. All Right reserved.</p>
            </div>
            <div class="col-md-6">
               <!-- <div class="pull-right copyright">
                    <p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a></p>
                </div> -->
            </div>
         </div>
      </div>
   </div>


</footer>
