<ul class="nav navbar-nav navbar-nav nav-top">
    <li ng-repeat="menu in navigation" class="{{menu.classis}}">
        <a ui-sref="{{menu.link}}" ng-if="menu.link">{{menu.name}}</a>
        <a ui-sref="homeid({id:menu.anchor})" ng-if="menu.anchor">{{menu.name}}</a>
        <!-- <ul class="dropdown-menu" ng-if="menu.subnav!='';">
            <li ng-repeat="submenu in menu.subnav">
                <a href="{{submenu.link}}">{{submenu.name}}</a>
            </li>
        </ul> -->
    </li>
    <li class="btn-donate"><a href="#/donate">Donate Now</a></li>
    <li class="btn-donate"><a href="#">Member Login</a></li>
</ul>

<!-- <ul class="nav navbar-nav nav-top">
  <li><a href="#/about">About</a></li>
  <li><a  href="#/activity">Activity</a></li>
  <li class="menu-item-has-children"><a href="#/gallery">Gallery</a>

  </li>
<li><a du-smooth-scroll du-scrollspy href="#event">Event</a></li>
  <li><a href="#/rti">RTI Moment</a></li>

  <li><a du-smooth-scroll du-scrollspy href="#contact">Contact</a></li>
  <li><a ui-sref="homeid({ id: 'data' })">Event</a></li>

</ul> -->

<!-- Orange Button -->
