<!-- <ul class="nav navbar-nav">
    <li ng-repeat="menu in navigation" class="{{menu.classis}}">
        <a href="{{menu.link}}">{{menu.name}}</a>
        <ul class="dropdown-menu" ng-if="menu.subnav!='';">
            <li ng-repeat="submenu in menu.subnav">
                <a href="{{submenu.link}}">{{submenu.name}}</a>
            </li>
        </ul>
    </li>
</ul> -->
<ul class="nav navbar-nav">
  <li><a href="#about">About</a></li>
  <li><a href="#events">Causes</a></li>
  <li class="menu-item-has-children"><a href="#">Pages</a>

  </li>
  <li><a href="#gallery-section">Gallery</a></li>
  <li><a href="#shop-section">Shop</a></li>
  <li><a href="#blog-section">Blog</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>

<!-- Orange Button -->
<div class="link-orange-top"><a href="#">Donate Now</a></div>
