<!-- <ul class="nav navbar-nav">
    <li ng-repeat="menu in navigation" class="{{menu.classis}}">
        <a href="{{menu.link}}">{{menu.name}}</a>
        <ul class="dropdown-menu" ng-if="menu.subnav!='';">
            <li ng-repeat="submenu in menu.subnav">
                <a href="{{submenu.link}}">{{submenu.name}}</a>
            </li>
        </ul>
    </li>
</ul> -->
<ul class="nav navbar-nav nav-top">
  <li><a href="#/about">About</a></li>
  <li><a href="">Activity</a></li>
  <li class="menu-item-has-children"><a href="#/gallery">Gallery</a>

  </li>
  <li><a href="#gallery-section">Event</a></li>
  <li><a href="#/rti">RTI Moment</a></li>

  <li><a href="">Contact</a></li>
  <li class="btn-donate"><a href="#/donate">Donate Now</a></li>
</ul>

<!-- Orange Button -->
