<div class="s-story">
    <div class="clearfix">
        <span class="close"><i class="fa fa-times" ng-click="$dismiss();"></i></span>
        <h4 class="s-story1 s-story2">NEW INDIA REMIGRATION STORY</h4>
    </div>
    <div class="rti-det rti-mov">
        <ul>
            <li><a href="files/Complaint_Section10_Act21of2006.docx" target="_blank">COMPLAINT U/S 10 OF ACT 21 OF 2006 (All Departments other than Municipal Corporations)</a></li>
            <li><a href="files/Complaint_Section72C_MMCAct.docx" target="_blank">COMPLAINT U/S 72(C) OF MAHARASHTRA MUNICIPAL CORPORATIONS ACT</a></li>
            <li><a href="files/Complaint_Section64C_MCGM.docx" target="_blank">COMPLAINT U/S 64(C) OF MUMBAI MUNICIPAL CORPORATION ACT</a></li>
        </ul>
        <p>Please edit and complete the above complaint as necessary and send it to the concerned department preferably by Speed Post. Once you send your complaint, please do not forget to register your complaint with us by filling this easy <a href="http://tinyurl.com/tmm-act21"
                target="_blank">form</a>.</p>
    </div>
</div>
