<div class="s-story">
    <div class="clearfix">
        <span class="close"><i class="fa fa-times" ng-click="$dismiss();"></i></span>
        <h4 class="s-story1 s-story2">Application Format and Templates</h4>
    </div>
    <div class="rti-det link-col">
        <h4>MAHARASHTRA STATE</h4>
        <ul>
            <li><a href="files/APPLICATION_MAHARASHTRA_STATE.doc" target="_blank">APPLICATION MAHARASHTRA STATE (Annexure-A)</a></li>
            <li><a href="files/FIRST-APPEAL-MAHARASHTRA-STATE.doc" target="_blank">FIRST APPEAL MAHARASHTRA STATE (Annexure-B)</a></li>
            <li><a href="files/SECOND-APPEAL-MAHARASHTRA-STATE.doc" target="_blank">SECOND APPEAL MAHARASHTRA STATE (Annexure-C)</a></li>
        </ul>
    </div>

    <div class="rti-det link-col">
        <h4 class="mgt-30">CENTRAL GOVERNMENT</h4>
        <ul>
            <li><a href="files/APPLICATION_CENTRAL_GOVT.doc" target="_blank">APPLICATION CENTRAL GOVERNMENT (Annexure-A)</a></li>
            <li><a href="files/FIRST-APPEAL-CENTRAL-GOVT.doc" target="_blank">FIRST APPEAL CENTRAL GOVERNMENT (Annexure-B)</a></li>
            <li><a href="files/Second -Appeal-Central-Government.doc" target="_blank">SECOND APPEAL CENTRAL GOVERNMENT (Annexure-C)</a></li>
        </ul>
    </div>
    <div class="rti-det">
        <h4 class="mgt-30">Application Template</h4>
    </div>
</div>
