<div class="application ">
    <div class="modal-header text-center">
        <h3>Annexure A</h3>
        <h4>Format of application for obtaining information under the <br>Right to Information Act, 2005</h4>
    </div>
    <form class="form-horizontal" name="state">
        <div class="modal-body">
            <div class="row">
                <div class="pull-left respect">
                    To,
                    <br>
                    <strong>The State Public Information Officer,</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 pd-10">
                    <div class="form-group mgt-5">
                        <textarea type="text" class="form-control" placeholder="Enter address." required></textarea>
                    </div>
                </div>
            </div>

            <div class="formpage">
                <!-- <form class="form-horizontal" name="state"> -->
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-4 control-label">Full name of Applicant:</label>
                    <div class="col-md-8">
                        <div class="col-md-2" style="padding-right:5px; padding-left:0px">
                            <select class="form-control">
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Ms.">Ms.</option>
                            </select>
                        </div>
                        <div class="col-md-10" style="padding-right:0px; padding-left:0px">
                            <input type="text" class="form-control" placeholder="Enter fullname." required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-4 control-label">Address:</label>
                    <div class="col-md-8">
                        <textarea type="text" class="form-control" placeholder="Enter address." required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-6 control-label">Particulars of the information required:</label>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="inputEmail3" class="control-label">Subject matter of information:</label>
                    </div>
                    <div class="col-md-8">
                        <textarea type="text" class="form-control" placeholder="Enter subject matter." required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="inputEmail3" class="control-label">The period to which the information relates:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Enter period" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-4 control-label">Description of the information required:</label>
                    <div class="col-md-8">
                        <textarea type="text" class="form-control" placeholder="Enter description." required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-4 control-label">Whether the information is required by post or in person:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-4 control-label">In case by post:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-4 control-label">Whether the applicant is below poverty line:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="inputEmail3" class="control-label">Place:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="inputEmail3" class="control-label">Date:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="date" class="form-control" required>
                    </div>
                    <div class="col-md-4">
                        <p class="sign">Signature of Applicant</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button">Submit</button>
            <button class="btn btn-primary" type="button">Cancel</button>
        </div>
    </form>
</div>
