<div class="application ">
    <div class="modal-header text-center">
        <h3>Annexure C</h3>
        <h4>Second Appeal Under Section 19 (3) of the Right to Information Act, 2005</h4>
    </div>
    <div class="modal-body">
      <div class="row">
          <div class="respect1">
                <label for="inputEmail3" class="col-md-1 control-label">From</label>
                <label for="inputEmail3" class="col-md-1 control-label" style="text-align:right">:</label>
                <div class="col-md-10">
                  <div class="col-md-2" style="padding-right:5px; padding-left:0px">
                    <select class="form-control">
                      <option value="Mr.">Mr.</option>
                      <option value="Mrs.">Mrs.</option>
                      <option value="Ms.">Ms.</option>
                    </select>
                  </div>
                    <div class="col-md-10" style="padding-right:0px; padding-left:0px">
                      <textarea type="text" class="form-control" placeholder="Enter Appellant name and address." required="required"></textarea>
                    </div>
                </div>
          </div>
      </div>
        <div class="row">
            <div class="respect3">
              <label for="inputEmail3" class="col-md-1 control-label">To</label>
              <label for="inputEmail3" class="col-md-1 control-label" style="text-align:right">:</label>
            </div>
        </div>
        <div class="formpage">
                <form class="form-horizontal" name="state">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Full name of Appellant:</label>
                        <div class="col-md-8">
                          <div class="col-md-2" style="padding-right:5px; padding-left:0px">
                            <select class="form-control">
                              <option value="Mr.">Mr.</option>
                              <option value="Mrs.">Mrs.</option>
                              <option value="Ms.">Ms.</option>
                            </select>
                          </div>
                            <div class="col-md-10" style="padding-right:0px; padding-left:0px">
                              <input type="text" class="form-control" placeholder="Enter fullname." required="required">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Address:</label>
                        <div class="col-md-8">
                            <textarea type="text" class="form-control" placeholder="Enter address." required="required"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                          <label for="inputEmail3" class="control-label">Particulars of the state Public Information Officer:</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="form-control">
                          <!-- <textarea type="text" class="form-control" placeholder="Enter subject matter." required></textarea> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                          <label for="inputEmail3" class="control-label">Particulars of the First Appellate Authority:</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="form-control" required="required">
                          <!-- <textarea type="text" class="form-control" placeholder="Enter subject matter." required></textarea> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                          <label for="inputEmail3" class="control-label">Date of receipt of the order appealed against:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Enter date of receipt" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Last date for filling the appeal:</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" placeholder="Enter Last date for filling the appeal" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-md-4 control-label">The grounds for appeal:</label>
                      <div class="col-md-8">
                      <textarea type="text" class="form-control" placeholder="Enter grounds for appeal." required="required"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-6 control-label">Particulars of information:</label>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-md-4 control-label">Nature and subject matter of the information required:</label>
                      <div class="col-md-8">
                      <textarea type="text" class="form-control" required="required"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-md-4 control-label">Name of the office or Department to which the information relates:</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                          <label for="inputEmail3" class="control-label">Place:</label>
                        </div>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                          <label for="inputEmail3" class="control-label">Date:</label>
                        </div>
                        <div class="col-md-4">
                          <input type="date" class="form-control" required="required">
                        </div>
                        <div class="col-md-4">
                        <p class="sign">Signature of Appellant</p>
                        </div>
                    </div>
                </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button">Submit</button>
        <button class="btn btn-primary" type="button">Cancel</button>
    </div>
</div>
