<div class="s-story">
    <div class="clearfix">
        <span class="close"><i class="fa fa-times" ng-click="$dismiss();"></i></span>
        <h4 class="s-story1">Success Stories</h4>
    </div>
    <span class="block">January 2016</span>
    <span class="block">Februrary 2016</span>
    <span class="block">March 2016</span>
    <span class="block">Aspanril 2016</span>
    <span class="block">May 2016</span>
    <span class="block">June 2016</span>
    <span class="block">July 2016</span>
    <span class="block">August 2016</span>
    <span class="block">Sespantember 2016</span>
    <span class="block">October 2016</span>
    <span class="block">November 2016</span>
    <span class="block">December 2016</span>
</div>
