<div class="s-story">
    <div class="clearfix">
        <span class="close"><i class="fa fa-times" ng-click="$dismiss();"></i></span>
        <h4 class="s-story1 s-story2">Success Stories: January 2016</h4>
    </div>
    <p><a href="http://www.dnaindia.com/mumbai/report-maharashtra-cic-orders-early-return-of-property-papers-1387875" target="_blank">Maharashtra CIC orders early return of property papers (Wednesday, 26 May 2010, DNA Mumbai edition)</a> </p>
    <p><a href="http://epaper.timesofindia.com/Default/Scripting/ArticleWin.asp?From=Search&Source=Find&Key=TOIM/2009/06/07/3/Ar00300.xml&CollName=TOI_MUMBAI_DAILY_2009&DOCID=44329&Keyword=(%3Cmany%3E%3Cstem%3EViju)&skin=TOINEW&AppName=1&PageLabel=3%20&ViewMode=HTML&GZ=T"
            target="_blank">Fighting for other people’s causes (Sunday, 7 Jun 2009, Times of India Mumbai edition)
         </a></p>
